/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
.DS_Store
.nrepl-port

pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
